{% for section in site.data.sections %}
    {% if section.order == 0 %}
    <section class='section' id='section{{section.order}}' style='background-image: url({{section.image}});'>
      {% include header.html %}
      {% include nav.html %}
      <div class="intro">
          {{section.intro}}
      </div>
      <button id="install" class="install">Add to Chrome</button>
    {% else %}
    <section class='section' id='section{{section.order}}'>
        <div id='title{{section.order}}'>{{section.title}}</div>
        <div id='description{{section.order}}'>{{section.description}}</div>
    {% endif %}

    {% if section.order == 2 %}
    {% include footer.html %}
    {% endif %}
    </section>
{% endfor %}
