<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- SEO BEGIN -->
  <title>{{site.title}}</title>
  <meta itemprop="description" name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />
  <!-- SEO END -->

  <!-- FAVICON BEGIN -->
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">

  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">

  <!-- FAVICON END -->

  <!-- FULLPAGE BEGIN -->
	<link rel="stylesheet" type="text/css" href="assets/css/jquery.fullPage.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/fullpage.customized.css" />
  <!-- FULLPAGE END -->


  <!--[if IE]>
    <script type="text/javascript">
       var console = { log: function() {} };
    </script>
  <![endif]-->
  <script src="assets/js/jquery.min.js"></script>
  <script type="text/javascript" src="assets/js/jquery.fullPage.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#fullpage').fullpage({
        verticalCentered: false,
        menu:'#nav',
        anchors: ['home', 'technology', 'about'],
        continuousVertical: true,
        //to avoid problems with css3 transforms and fixed elements in Chrome, as detailed here: https://github.com/alvarotrigo/fullPage.js/issues/208
        css3:false
      });
    });
  </script>
</head>
<body>
  <div id='fullpage'>
    {% include section.html %}
  </div>
  <!-- ga BEGIN-->
  {% include ga.html %}
  <!-- ga END-->
</body>
</html>
