<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-106488669-1', 'auto');

  var parse = function() {
      var str = window.location.search;
      var o = {};
      str.replace(
          new RegExp( "([^?=&]+)(=([^&]*))?", "g" ),
          function($0, $1, $2, $3){
              o[$1] = $3;
          }
      );
      return o;
  };

  var navigations = {
    'yahoo': {
      's': '//search.yahoo.com/search',
      'q': 'q'
    },
    'google': {
      's': '//www.google.com/search',
      'q': 'q'
    },
    'bing': {
      's': '//bing.com/search',
      'q': 'q'
    },
    'youtube': {
      's': '//www.youtube.com/results',
      'q': 'search_query'
    }, // www.youtube.com/results?search_query=
    'facebook': {
      's': '//www.facebook.com/public',
      'q': 'query'
    },  // https://www.facebook.com/public?query=s&init=ffs&nomc=0
    'wikipedia': {
      's': '//wikipedia.org/w/index.php?search',
      'q': 'search'
    },  // https://en.wikipedia.org/w/index.php?search=hello
    'amazon': {
      's': '//www.amazon.com/s/',
      'q': 'field-keywords'
    }  //https://www.amazon.com/s/ref=nb_sb_noss/138-2446387-8674662?url=search-alias%3Daps&field-keywords=hello+
  }

  var O = parse();
  var type = O['type'];
  var engine = ((type == undefined || navigations[type] == undefined) ? navigations['yahoo']['s'] : navigations[type]['s']);
  ga('send', 'pageview', '/search/'+engine);
  window.location.href = engine + '?' + navigations[type]['q'] + '=' + O['q'];
</script>
