html, body {
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
  overflow-x: hidden;
}

header, section {
  width: 100%;
  padding: 20px 10px;
  text-align: center;
}

h1 {
  color: rgba(0, 0, 0, 0.7);
}
h3 {
  color: rgba(0, 0, 0, 0.54);
}

#install-button {
  border: none;
  background-color: rgb(66,133,244);
  padding: 10px 15px;
  vertical-align: middle;
  border-radius: 6px;
  color: white;
  font: 400 16px/24px Roboto,sans-serif;
}

#install-button:hover {
  border: 1px solid rgb(186,209, 248);
  background-color: rgb(66,133,244);
  cursor: pointer;
}

#install-button:active {
  border: none;
  background-color: rgb(51,103,214);
}

.laptop img {
  width: 50%;
  max-width: 100%;
  height: 50%;
  max-height: 100%;
}

.logo {
  left: 30%;
  position: absolute;
  background-image: url('/assets/logo/krenx-32.png');
  background-size: 32px 32px;
  width: 32px;
  height: 32px;
}

.webstore:link, .webstore:active, .webstore:hover, .webstore:visited {
  right: 30%;
  position: absolute;
  color:#777777;
  text-decoration: none;
}

.share {
  display: block;
  vertical-align: middle !important;
  text-align: center;
}

/* Facebook like button hijack */
span {
  vertical-align: inherit !important;
}
